# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
.pytest_cache/

# Environment variables
.env
.env.dev
.env.prod

# venv
/venv/
/.venv/

# Database
db.sqlite3
db.sqlite3-journal
celerybeat-schedule.db

# Static files
/static/

# Media files
/media/
/backend/media/

# logs 

/logs/
/backend/logs/

# VS Code
.vscode/

# macOS
.DS_Store

# PyCharm
.idea/

# Session files 
*.session
*.session-journal
/session/
/backend/session/