# Django 
SECRET_KEY=
ALLOWED_HOSTS=127.0.0.1,localhost
DEBUG=True
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0
CORS_ORIGIN_WHITELIST=http://localhost:5173
CSRF_TRUSTED_ORIGINS=http://localhost:8020
DJANGO_SUPERUSER_USERNAME=
DJANGO_SUPERUSER_EMAIL=
DJANGO_SUPERUSER_PASSWORD=

# DB

POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
DB_HOST=
DB_PORT=

# Telegram

TG_CHANNEL_TOKEN=
TG_TEST_CHANNEL_TOKEN=
TG_BOT_TOKEN=
TG_API_ID=
TG_API_HASH=
CHANNEL_NAME=
TG_PHONE=
TG_PASSWORD=
